.Container {
  width: 1170px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: darkblue;
  background-image: url(https://img.freepik.com/free-vector/abstract-futuristic-molecule-digital-technology_40760-28.jpg?size=626&ext=jpg);
  background-size: cover;
}
